/* 
body {overflow: hidden;} 
*/ 

#m_window {position: absolute; top: 0px; right: 0px; 
/*\*/ padding: 0px;left:200px;}
/* IE5 Mac fix for */  

/*\*/ 
#side {position: absolute;width: 200px;} 
/* IE5 Mac fix for */